/* Picking weird colors for inventory pages */

table.nes {background: lightgrey; border-color: darkgray;}
th.nes {color: red; border-bottom-color: black;}
td.nes {color: lightgray; border-color: black;}
tr.nes {color: cyan;}

th.virtualboy {background: black; color: red; border-bottom: 1px solid darkred;}
td.virtualboy {border: 1px solid firebrick; border-radius: 4px; background-color: black; padding-left: 4px; padding-right: 4px; color: red;}

table.sega {background: black; border-color: darkgray;}
th.sega {color: dimgrey; border-bottom-color: silver;}
td.sega {color: silver; border-color: firebrick;}
tr.sega {color: red;}

table.sony {background: black; border-color: darkgray;}
th.sony {color: dimgrey; border-bottom-color: silver;}
td.sony {color: silver; border-color: cornflowerblue;}
tr.sony {color: red;}

table.xbox {background: black; border-color: green;}
th.xbox {color: lightgreen; border-bottom-color: black;}
td.xbox {color: lightgreen; border-color: darkgreen;}
tr.xbox {color: greenyellow;}

table.c64 {background: black; border-color: darkgray;}
th.c64 {color: dimgrey; border-bottom-color: silver;}
td.c64 {color: silver; border-color: blue;}
tr.c64 {color: red;}

table.atari {background: black; border-color: darkgray;}
th.atari {color: chocolate; border-bottom-color: silver;}
td.atari {color: peru; border-color: chocolate;}
tr.atari {color: blue;}
